body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #99db8a, #98d8df);
    color: #333;
}

header {
    text-align: center;
    padding: 4rem 1rem;
    background: rgba(255,255,255,0.6);
    margin: 2rem;
    border-radius: 15px;
}

.calculator {
    text-align: center;
    margin: 3rem 1rem;
    padding: 2rem;
    background: rgba(255,255,255,0.5);
    border-radius: 15px;
}

input {
    padding: 0.8rem;
    font-size: 1.6rem;
    margin: 0.5rem;
    border-radius: 10px;
    border: 1px solid #ccc;
}

button {
    padding: 1rem 2rem;
    font-size: 1.6rem;
    background: #6bcBff;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

button:hover {
    background: #3498db;
}
